#text-input {
  display: block;
  margin: 10px auto;
  width: 300px;
  height: 100px;
}

#btn-escrever {
  display: block;
  margin: 10px auto;
}
#container {
  display: flex;
  padding-top: 1%;
}
#imagem {
  width: 20.8cm;
  height: 28cm;
}
